@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@splidejs/splide/css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

:root {
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
}
#app {
  background: white;
  min-height: 100vh;
}

@font-face {
  font-family: Geist;
  src: url("/fonts/geist/Geist-Medium.ttf") format("truetype"),
    url("/fonts/geist/Geist-Medium.otf") format("opentype"),
    url("/fonts/geist/Geist-Medium.woff") format("woff"),
    url("/fonts/geist/Geist-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Geist;
  src: url("/fonts/geist/Geist-SemiBold.ttf") format("truetype"),
    url("/fonts/geist/Geist-SemiBold.otf") format("opentype"),
    url("/fonts/geist/Geist-SemiBold.woff") format("woff"),
    url("/fonts/geist/Geist-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

::-webkit-scrollbar {
  display: none;
}
body,
html {
  // scroll-behavior: smooth;
  background-color: #000;
  color: #fff;
}

.font-geist {
  font-family: Geist;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Geist;
}

.section-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

.buf {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 0;
  outline: 0;
  max-width: 210px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  &-primary {
    background: #cc3737;
  }
  &-black {
    background: #1e1e1e;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  @media screen and (min-width: 992px) {
    margin: 0 160px;
    width: unset;
  }
}

.magnetic {
  position: relative;
  // transition: 0.3s all;
  &:hover .bounding-rect {
    height: 200%;
    top: -50%;
    width: 150%;
    left: -25%;
  }
  .bounding-rect {
    transition: 0.1s ease all;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    z-index: -2;
  }
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 125.5%;
}

.dashed-border {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    // make dashed border
    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.4) 50%,
      transparent 0
    );
    background-position: 0 100%;
    background-size: 14px;
    background-repeat: repeat-x;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
  &-light {
    &::before,
    &::after {
      background-image: linear-gradient(
        to right,
        hsla(0, 0%, 0%, 0.4) 50%,
        transparent 0
      );
    }
  }
  &-t {
    &::before {
      content: unset;
    }
  }
  &-b {
    &::after {
      content: unset;
    }
  }
}

@media screen and (max-width: 768px) {
  .buf {
    font-size: 14px;
    padding: 15px;
  }
}
@media screen and (max-width: 480px) {
  .buf {
    padding: 10px 15px;
  }
}
