:root {
  --primary-color: #cc3737;
  --secondary-color: #fff;
  --margin-x: 80px;
  --margin-y: 120px;
}

.header {
  padding: 20px var(--margin-x);
  // background: #cc3737;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  transition: 0.3s all;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.25);
  background-color: #000;
  z-index: 10;
  .logo {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 186px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) width;
    &:hover {
      width: 217px;
      span.text span {
        transform: translateX(-55px);
      }
      span.copy {
        transform: rotate(-360deg);
      }
    }
    span {
      display: inline-block;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) all;
      &.text {
        text-wrap: nowrap;
        overflow: hidden;
        span {
        }
      }
    }
  }
  ul {
    display: none;
    gap: 25px;
    li {
      list-style: none;
      cursor: pointer;
      transition: 0.3s ease all;
      color: var(--secondary-color);
      &.active {
        color: var(--primary-color);
        font-weight: 600;
      }
    }
  }
}

.hero {
  height: 100vh;
  width: 100%;
  padding: 0 var(--margin-x);
  .letters {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    svg {
      // width: 100%;
      height: 250px;
    }
  }
}

.peek {
  padding: var(--margin-y) var(--margin-x);
  background-color: #000;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h1 {
      line-height: 125.5%;
    }
    p {
      font-size: 20px;
      line-height: 125.5%;
      color: #b3b3b3;
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    // make dashed border
    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.4) 50%,
      transparent 0
    );
    background-position: 0 100%;
    background-size: 14px;
    background-repeat: repeat-x;
  }
  &::after {
    top: 0;
  }
  &::before {
    bottom: 0;
  }
}
.stack {
  padding: var(--margin-y) var(--margin-x);
  background-color: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
  article {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    h3 {
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1.4px;
    }
  }
  .logos-wrapper {
    display: flex;
    gap: 60px;
    width: max-content;
    max-width: unset;
    .splide__slide {
      width: 80px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .stack-logo {
      height: 80px;
    }
  }
}
.ct {
  padding: var(--margin-y) var(--margin-x);
  background-color: white;
  header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
    p {
      font-size: 20px;
      line-height: 125.1%;
    }
  }
  .testimonials {
    margin-top: 40px;
    position: relative;
    padding-bottom: 144px;
    .testi-card {
      display: flex;
      flex-direction: column;
      // gap: 40px;
      height: 100%;
      .stars {
        display: flex;
        gap: 3px;
        margin-bottom: 25px;
      }
      .feedback-wrapper {
        margin-bottom: 30px;
        .feedback {
          font-size: 16px;
          line-height: 131.1%;
          color: #2a2a2a;
          // font-weight: 500;
          display: -webkit-box;
          // -webkit-line-clamp: 4;
          // -webkit-box-orient: vertical;
          // overflow: hidden;
          span {
            display: inline;
          }
        }
        .truncation-btn {
          color: #cc3737;
          display: inline;
        }
      }
      .details {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: auto;

        .user-wrapper {
          padding-right: 20px;
          border-right: 1px solid #000;
          display: flex;
          gap: 20px;
          align-items: center;
          .pp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #d3d3d3;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .user {
            display: flex;
            flex-direction: column;
            gap: 4px;
            color: #000;
            h4 {
              font-size: 18px;
              font-weight: 500;
              line-height: 131.1%;
              text-transform: capitalize;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
    .splide__arrows {
      position: absolute;
      bottom: -144px;
      right: 0;
      display: flex;
      gap: 18px;
      .arr-but {
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
    .splide__pagination {
      left: 0;
      width: max-content;
      bottom: -124px;
      padding-left: 0;
      .splide__pagination__page.is-active {
        background-color: #000;
        transform: scale(1);
      }
    }
  }
}

#footer {
  background-color: white;
  padding: 40px var(--margin-x);
  display: flex;
  flex-direction: column;
  color: #000;
  border-top: 1px solid hsla(0, 0%, 0%, 0.6);
  .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    .logo-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        font-weight: 500;
      }
    }
    .social-links {
      display: flex;
      gap: 10px;
      .social-link {
        width: 25px;
        height: 25px;
      }
    }
  }
  .lower {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    .copy {
      color: rgba(10, 9, 12, 0.6);
      font-size: 1rem;
      font-weight: 500;
    }
    div {
      display: flex;
      align-items: center;
      gap: 14px;
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --margin-x: 20px;
    --margin-y: 80px;
  }
  h1 {
    font-size: 28px;
  }
  .hero .letter svg {
    height: 80px;
  }
  .peek .content {
    h1 {
      br {
        display: none;
      }
    }
    p {
      font-size: 16px;
      br {
        display: none;
      }
    }
  }
  .stack {
    .logos-wrapper .splide__slide {
      width: 60px !important;
    }
    .stack article {
      gap: 30px;
      h3 {
        font-size: 16px;
      }
    }
  }
  .ct {
    header p {
      font-size: 16px;
    }
    .testimonials {
      .testi-card .feedback-wrapper .feedback {
        font-size: 14px;
        line-height: 134%;
      }
      .splide__arrows {
        gap: 10px;
        bottom: -142px;
        right: 1px;
        .arr-but svg {
          width: 30px;
          height: 30px;
        }
      }
      .splide__pagination {
        gap: 5px;
        li {
          display: flex;
        }
        .splide__pagination__page {
          width: 6px;
          height: 6px;
          margin: 0;
        }
      }
    }
  }
  #footer .lower {
    flex-direction: column;
    gap: 12px;
    div {
      margin-left: auto;
    }
  }
}
