:root {
  --ease: cubic-bezier(0.165, 0.84, 0.44, 1);
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

#menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
  path {
    transition: all 0.3s ease;
  }
}
#menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background: #e1e1e1;
  clip-path: circle(0% at calc(100% - 45px) 45px);
  display: flex;
  align-items: center;
  .menu-wrapper {
    width: 100%;
    // height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .menu-item {
      padding: 0 25px;
      font-size: 72px;
      border-bottom: 2px solid #1d3557;
      color: #e63946;
      cursor: pointer;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        mix-blend-mode: exclusion;
        transition: height 0.3s ease;
        will-change: height;
        clip-path: inset(50% 0 50% 0);
        transition: clip-path 0.4s var(--ease),
          -webkit-clip-path 0.4s var(--ease);
      }
      &.hover::before {
        clip-path: inset(0% 0 0% 0);
      }
    }
  }
}
#mouse {
  position: absolute;
  width: 20px;
  height: 20px;
  inset: 50%;
  background-color: whitesmoke;
  border-radius: 50%;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  mix-blend-mode: exclusion;
  transition: transform 0.3s ease;
  will-change: transform;
}
#main {
  background-color: #111e2d;
  .title {
    color: white;
    padding: 20px;
    h1 {
      font-size: 50px;
      line-height: 40px;
      cursor: default;
    }
    h2 {
      font-size: 20px;
      cursor: default;
    }
    h1,
    h2 {
      // display: flex;
      span {
        // display: inline-block;
        position: relative;
      }
    }
  }
  .scroll {
    position: absolute;
    width: 40px;
    bottom: 30px;
    opacity: 0;
  }
}
#about {
}
// #projects {
//   .swiper .swiper-slide {
//     @media screen and (max-width: 556px) {
//       height: 300px;
//     }
//     @media screen and (max-width: 760px) {
//       height: 400px;
//     }
//     height: 500px;

//     border: 1px solid black;
//     user-select: none;
//     position: relative;
//     overflow: hidden;
//     &:hover img {
//       transform: scale(1.1);
//     }
//     > img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       pointer-events: none;
//       transition: 0.3s ease all;
//     }
//     a {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//     }
//   }
// }

// #contact {
//   height: auto;
//   border-top: 1px solid rgba(0, 0, 0, 0.789);
//   margin-top: 50px;
//   justify-content: space-between;
//   padding: 0;
//   align-items: flex-start;
//   background-color: #272829;
//   flex-wrap: wrap;
//   flex-direction: column;
//   > * {
//     color: #fff6e0;
//   }
//   .contact {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     // flex-direction: ;
//     padding: 20px 100px;
//     ul {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       flex-wrap: wrap;
//       li {
//         cursor: pointer;
//       }
//     }
//   }
//   .cop {
//     width: 100%;
//     padding: 20px 100px;
//     border-top: 1px solid white;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
// }
