section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 50px;
  line-height: 40px;
  cursor: default;
}
.title h2 {
  font-size: 20px;
  cursor: default;
}
#about {
  .photo-wrapper {
    width: 400px;
    height: 400px;
  }
}
#projects {
  .swiper .swiper-slide {
    @media screen and (max-width: 556px) {
      height: 300px;
    }
    @media screen and (max-width: 760px) {
      height: 400px;
    }
    height: 500px;

    border: 1px solid black;
    user-select: none;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#contact {
  height: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.789);
  margin-top: 50px;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: flex-start;
  background-color: #272829;
  flex-wrap: wrap;
  > * {
    color: #fff6e0;
  }
}
ul {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  li {
    cursor: pointer;
  }
}
